body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #1E1E23 !important;
    opacity: 1;
    font-family: 'work sans', sans serif;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
}

a:hover {
    opacity: 0.5;
}

ul {
    padding: 0;
    list-style-type: none;
}



#container-n {
    Display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container-1 {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    ;
}


.bag {
    color: white;
    background-color: rgb(255, 255, 255);
    flex: 1 1;
    box-shadow: 1px 0 rgba(244, 245, 249, 0.482);
    font-size: 6em;
    flex-flow: column;

    background-image: url('https://picsum.photos/200/300');
    background-size: cover;
}

.box {
    background-color: #ebebeb;
    height: 17%;
    overflow-x: auto;
    overflow-y: hidden;
}

.item {
    display: flex;
    flex-flow: row nowrap;

}

.pic {
    width: 30%;
    height: 50%;
    margin: 5px 8px 5px 0;
    /* background-color: salmon; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(77, 77, 77);
    justify-self: flex-start;

}

li {
    padding: 0 18px;
    height: 7vh;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    /* min-width: 6em; */

    box-shadow: 1px 1px 5px #00000019;
    border-radius: 5px;
    justify-content: flex-end;
    flex-flow: row-reverse;

    /* font-family: 'Roboto'; */
    background-color: rgb(250, 250, 250);
}

.justify-content-center {
    justify-content: center;
    display: flex;
    align-items: center;
}

.textWeight {
    background-color: rgb(0, 111, 152);
    border-radius: 20px;
    width: 100%;
    height: auto;
    padding: 6px;
    color: white;
    font-weight: 900;
    width: 100%;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.281);
    min-width: 20px;



}

.totalWeight {
    backdrop-filter: brightness(0.5);
    width: 100%;
    height: 100%;
    font-size: 30pt !important;
    font-family: 'Prompt';
}

.textplace {
    font-size: 20px;
    padding-top: 1em;
    width: 100%;
    backdrop-filter: brightness(0.5);
}

.warp-icon {
    backdrop-filter: brightness(0.5);
    width: 100%;
    height: 100%;
    padding-top: 50px;
}



.btn1 {}

.btn2 {}

.btn3 {
    justify-self: center;
    align-items: center;
    width: 4em;
    height: 4em;
    /* margin-left: calc(100% - 11em); */
    transform: scale(1.2);
    margin-top: 5px;
    border-radius: 7px;
    /* position: absolute; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.09);
    font-size: 1em;
}



.btn4 {}

.btn5 {}

.phone {
    background-color: #36383F;
    border-radius: 40px;
    width: 300px;
    height: 600px;
    Display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 50px 100px #85888C;
}

.content {
    /* border: 1px solid #36383F; */
    border-radius: 20px;
    width: 94%;
    height: 91%;
    background-color: #F5F6FA;
    overflow: hidden;
    display: flex;
    flex-flow: wrap;

}

nav {
    background-color: #1E1E23;
    height: 65px;
    width: 100%;
}

.nav-foot {
    width: 100%;
    height: 3em;
    justify-self: flex-end;
    align-self: flex-end;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.0275);

}

.content:nth-child(2) {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    height: 100vh;
    position: absolute;
    bottom: 0px;

}



.wrap {
    overflow: hidden;
    orientation: landscape;
    display: flex;
    justify-content: stretch;
    flex: 1 1 50%;
}

.btn {
    background-color: white;
    height: 7vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: rgb(224, 224, 224);
}

.btn-add {
    height: 100%;
}




#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 180px;
    height: 400px;
    box-shadow: 0 0 10px rgba(133, 136, 140, 0.721);
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    transition-delay: 2s;
}

#menuToggle input:checked~ul {
    transform: none;
}

@media screen and (max-width: 480px) {
    .phone {
        background-color: transparent;
        border-radius: 0;
        width: 100%;
        height: 100vh;
        Display: block;
        justify-content: center;
        align-items: center;
        box-shadow: none;
    }

    #container-n {
        margin-top: 0px !important;
    }

    .content {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .btn {
        height: 11vh;
        display: flex;
        align-items: center;
    }

    .btn3 {
        font-size: 1.25em !important;
    }

    .box {
        height: 12%;
    }

    #menu {
        height: 100vh;
    }

    .nav-foot {
        height: 7.5em;
    }

    .totalWeight {
        font-size: 40pt !important;
    }

    /* .btn3 {
        margin-left: calc(100% - 59vw);
        transform: scale(1.6)
    } */

}